android/.project
android/.gradle/6.7/gc.properties
android/.gradle/6.7/fileChanges/last-build.bin
android/.gradle/6.7/fileHashes/fileHashes.lock
android/.gradle/checksums/checksums.lock
android/.gradle/configuration-cache/gc.properties
android/.gradle/vcs-1/gc.properties
android/.settings/org.eclipse.buildship.core.prefs
android/local.properties

**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
