Frontend/.flutter-plugins-dependencies
Frontend/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Frontend/ios/Runner/GeneratedPluginRegistrant.m
Frontend/lib/generated_plugin_registrant.dart
Frontend/.flutter-plugins-dependencies
Frontend/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Frontend/ios/Runner/GeneratedPluginRegistrant.m
Frontend/lib/generated_plugin_registrant.dart
