Frontend/android/.project
Frontend/android/.gradle/6.7/gc.properties
Frontend/android/.gradle/6.7/fileChanges/last-build.bin
Frontend/android/.gradle/6.7/fileHashes/fileHashes.lock
Frontend/android/.gradle/checksums/checksums.lock
Frontend/android/.gradle/configuration-cache/gc.properties
Frontend/android/.gradle/vcs-1/gc.properties
Frontend/android/.settings/org.eclipse.buildship.core.prefs
